body {
  background-color: #fafafa;
  color: #212121;
  font-size: 32px;
  line-height: 48px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

#countdown {
}

#days {
  text-align: center;
}

#hours {
  text-align: center;
}

#minutes {
  text-align: center;
}

#seconds {
  text-align: center;
}

#progress {
  width: 100%;
  margin-top: 24px;
  padding: 0 24px;
  -webkit-appearance: none;
  appearance: none;
  height: 24px;
}

#progress::-webkit-progress-bar {
  background-color: #e0e0e0;
}

#progress::-webkit-progress-value {
  background-color: #4caf50;
}

#percent {
  position: relative;
  margin-left: -56px;
  font-size: 24px;
  color: #fafafa;
  top: -49px;
}

#container {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
